    <table>
      <caption>Viewing <%= pager_counts @pager,
        :count_link => {:controller => 'alerts',
                        :action     => 'summary',
                        :sig_sid    => @signature.sig_sid,
                        :sig_gid    => @signature.sig_gid
                      } %> Alerts</caption>
        <tr>
            <th>sens:cid</th>
            <th><%= order_control 'time', :field => 'timestamp' %></th>
            <th>source</th>
            <th>dest</th>
        </tr>
        <%= render(:partial => "alert_row_brief", :collection =>  @alerts) %>
    </table>
    <hr/>
    <%= pager_control @pager %>
