<div class="summary-left">
    <h2>Signatures</h2>
    <table id="sig-table">
        <tr>
            <th>sig</th>
            <th>cls</th>
            <th>pri</th>
            <th>name</th>
            <th>count</th>
        </tr>
        <%= render(:partial => "signature_row", :collection =>  @signatures) %>
    </table>
    <hr/>
    <div id="pager-ctl"><%= pager_control @summary_pager %></div>
</div>
