body {
    font-size: small;
    font-family: "sans";
    background: #111;
}

table {
    border-collapse: collapse;
    border: solid 1px;
    background: #aaa;
}

caption {
    font-size: 11px;
    font-weight: bold;
    border-top: solid 2px;
    border-right: solid 2px;
    border-left: solid 2px;
}

th, td {
    text-align: center;
    padding: 2px;
/*    margin: 2px;*/
    border-left: solid 1px;
    border-right: solid 1px;
}

td {
    font-size: smaller;
    font-family: "mono";
    background: #ddd;
    border-bottom: solid 1px;
}

th {
    font-family: "sans";
    font-size: 10px;
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: dotted 1px;
}

#main {
    background: gray;
    -moz-border-radius: 7px;
}

.side-nav {
    float: left;
   /* border: solid 1px; */
    -moz-border-radius: 7px;
    background: #ddd;
}
.detail-left, .summary-left {
    padding: 10px;
    margin: 10px;
    background: #ddd;
    -moz-border-radius: 7px;
    float: left;
}

.summary-left {
}

.detail-right, .summary-right{
    float: left;
    padding: 10px;
    margin: 10px;
    -moz-border-radius: 7px;
    background: #ddd;
}

.btn:hover {
    background: black;
} 

.btn {
    cursor: pointer;
}

#cons-ctl-bar td:hover {
    background: yellow;
}

#stats {
 /*   border: solid 1px;*/
    -moz-border-radius: 7px;
    background: #ddd;
}

.num-cell {
    text-align: right;
}

.ip-cell {
    text-align: right;
}

.detail-table th{
    font-family: "mono";
    font-size: small;
}

/* order_control */
.up-img, .dn-img {
    margin: 0 5px;
}
.up-img {float: left;}
.dn-img {float: right;}



/* packet header tables */

#packet-headers {
  /*  position: relative;
    left: 50%; 
    right: 0;*/
    width: 340px;
    margin: 10px;
    padding: 10px;
    background: #ddd;
    -moz-border-radius: 7px;
}

.packet-header table{
    table-layout: fixed;
    width: 340px; 
    border: solid 2px;
    border-collapse: collapse; 
}

#scroller {
    width: 336px;
    height: 200px; 
    overflow: auto; 
}

#scrolltab {
    border: none;
    width: 320px;
}

#scrolltab td {
    border-bottom: dotted 1px;
}

#data-offset {
    width: 40px;
}

#data-hex {
    width: 180px;
    text-align: justify;
    text-indent: 5%;
}

#data-ascii {
    text-align: justify;
    text-indent: 20%;
}

.packet-header th , .packet-header td{
    text-align: center;
    padding: 0;
    margin: 0;
    border-left: solid 1px;
    border-right: solid 1px;
}

.data-tab td{
    font-size: 12px;
}
