<div class="side-nav">
    <table>
        <tr>
            <th>Views</th>
        </tr>
        <tr>
            <td><%= link_to 'Signatures', :controller => 'signatures', :action => 'summary' %></td>
        </tr>
        <tr>
            <td><%= link_to 'Events', :controller => 'events', :action => 'summary' %></td>
        </tr>
        <tr>
            <td><%= link_to 'IPhosts', :controller => 'iphosts', :action => 'summary' %></td>
        </tr>
    </table>
</div>

