<div id="stats">
    <table>
        <th colspan=2>Totals</th>
        <tr>
            <th>Alerts</th>
            <td class="num-cell"><%=link_to event_count,
                :controller => 'alerts',
                :action => 'summary' %></td>
        </tr>
        <tr>
            <th>Signatures</th>
            <td class="num-cell"><%=link_to sig_count,
                :controller => 'signatures',
                :action => 'summary' %></td>
        </tr>
        <tr>
            <th>Source IPs</th>
            <td class="num-cell"><%=h src_ip_count %></td>
        </tr>
        <tr>
            <th>Dest IPs</th>
            <td class="num-cell"><%=h dst_ip_count %></td>
        </tr>
    </table>
</div>

