<div id="stats">
    <table>
        <th>Totals</th>
        <tr>
            <td>Alerts</td>
            <td class="num-cell"><%=h event_count %></td>
        </tr>
        <tr>
            <td>Signatures</td>
            <td class="num-cell"><%=h sig_count %></td>
        </tr>
        <tr>
            <td>Source IPs</td>
            <td class="num-cell"><%=h src_ip_count %></td>
        </tr>
        <tr>
            <td>Dest IPs</td>
            <td class="num-cell"><%=h dst_ip_count %></td>
        </tr>
    </table>
</div>

