
<div class="summary-left">
    <h2>Events</h2>
    <h3><%= dump_params %></h3>
    <table id="ev-table">
        <tr>
            <th>sid:cid</th>
            <th>sig</th>
            <th>cls</th>
            <th>pri</th>
            <th>sig name</th>
            <th><%= order_control 'time', :field => 'timestamp' %></th>
            <th>source</th>
            <th>dest</th>
        </tr>
        <%= render(:partial => "event_row", :collection =>  @events) %>
    </table>
    <hr/>
    <div id="pager-ctl"><%= pager_control @summary_pager %></div>
</div>
